{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Puppy</title>
  <!-- static libs -->
  <!-- tailwindcss -->
  <script src="{% static 'libs/tailwindcss/dist/lib.mjs' %}"></script>
  <link href="{% static 'libs/tailwindcss/index.css' %}" rel="stylesheet">
  <!-- daisyui -->
  <script src="{% static 'libs/daisyui/index.js' %}"></script>
  <link href="{% static 'libs/daisyui/daisyui.css' %}" rel="stylesheet">
  <!-- vue js -->
  <script src="{% static 'libs/vue/dist/vue.global.js' %}"></script>
  <!-- axios -->
  <script src="{% static 'libs/axios/dist/axios.min.js' %}"></script>
  <!-- sweet alert 2 -->
  <script src="{% static 'libs/sweetalert2/dist/sweetalert2.all.min.js' %}"></script>
  <link rel="stylesheet" href="{% static 'libs/sweetalert2/dist/sweetalert2.min.css' %}">
</head>

<body>

</body>

</html>