<!-- static libs -->
{% load static %}
<!-- tailwindcss -->
<!-- <script src="{% static 'libs/tailwindcss/dist/index.global.js' %}"></script> -->
<!-- daisyui -->
<!-- <link href="{% static 'libs/daisyui/daisyui.css' %}" rel="stylesheet" type="text/css">
<link href="{% static 'libs/daisyui/themes.css' %}" rel="stylesheet"> -->
<!-- vue js -->
<script src="{% static 'libs/vue/dist/vue.global.js' %}"></script>
<!-- axios -->
<script src="{% static 'libs/axios/dist/axios.min.js' %}"></script>
<!-- sweet alert 2 -->
<script src="{% static 'libs/sweetalert2/dist/sweetalert2.all.min.js' %}"></script>
<link rel="stylesheet" href="{% static 'libs/sweetalert2/dist/sweetalert2.min.css' %}">
<!--  -->
<link href='https://cdn.boxicons.com/fonts/basic/boxicons.min.css' rel='stylesheet'>
<link href="https://cdn.jsdelivr.net/npm/daisyui@5" rel="stylesheet" type="text/css" />
<script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>