{% load static %}
<!-- static libs -->
<!-- tailwindcss -->
<script src="{% static 'libs/tailwindcss/dist/index.global.js' %}"></script>
<!-- daisyui -->
<link href="{% static 'libs/daisyui/daisyui.css' %}" rel="stylesheet" type="text/css">
<link href="{% static 'libs/daisyui/themes.css' %}" rel="stylesheet">
<!-- vue js -->
<script src="{% static 'libs/vue/dist/vue.global.js' %}"></script>
<!-- axios -->
<script src="{% static 'libs/axios/dist/axios.min.js' %}"></script>
<!-- sweet alert 2 -->
<script src="{% static 'libs/sweetalert2/dist/sweetalert2.all.min.js' %}"></script>
<link rel="stylesheet" href="{% static 'libs/sweetalert2/dist/sweetalert2.min.css' %}">