<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Puppy Login</title>
  {% include 'libs.html' %}
</head>

<body>
  <main id="app">
    <div class="hero bg-red min-h-screen">
      <div class="hero-content flex-col lg:flex-row-reverse">
        <div class="text-center lg:text-left">
          <h1 class="text-5xl font-bold">Login now!</h1>
          <p class="py-6">
            Provident cupiditate voluptatem et in. Quaerat fugiat ut assumenda excepturi exercitationem
            quasi. In deleniti eaque aut repudiandae et a id nisi.
          </p>
        </div>
        <div class="card bg-base-100 w-full max-w-sm shrink-0 shadow-2xl">
          <div class="card-body">
            <form @submit="onSubmit">
              <fieldset class="fieldset">
                <fieldset class="fieldset">
                  <legend class="fieldset-legend">Username</legend>
                  <input type="text" v-model="username" class="input" placeholder="username" />
                </fieldset>
                <fieldset class="fieldset">
                  <legend class="fieldset-legend">Password</legend>
                  <input type="password" v-model="password" class="input" placeholder="password" />
                </fieldset>
                <button class="btn btn-neutral mt-4">Login</button>
              </fieldset>
            </form>
          </div>
        </div>
      </div>
    </div>
  </main>
  <script>
    const { createApp } = Vue;

    createApp({
      delimiters: ["[{", "}]"],
      data() {
        return {
          username: "",
          password: "",
        };
      },
      methods: {
        async onSubmit(e) {
          e.preventDefault();
          try {
            const result = await axios.post("{% url 'login-api' %}", {
              username: this.username,
              password: this.password,
            });
            
            if (result.data.success) {
              Swal.fire({
                title: "Success!",
                text: result.data.message,
                icon: "success",
              });
              return;
            }

            throw new Error(result.data.message || "Unknown error occurred.");
          } catch (error) {
            Swal.fire({
              title: "Error!",
              text:
                (error.response?.data?.message) ||
                error.message ||
                "Unexpected error.",
              icon: "error",
            });
          }
        },
      },
    }).mount("#app");
  </script>

</body>

</html>